<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTMX with Gin</title>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <link href="/static/css/output.css" rel="stylesheet">


</head>
<body>
<h1 class="text-3xl font-bold underline">Hello from HTMX + Gin</h1>

<button class="bg-blue-200 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
    Get Current Time
</button>

<div id="time-div" style="margin-top: 1rem; font-weight: bold;"></div>
</body>
</html>
